<html>

<head>
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      color: #333;
    }

    table {
      font-size: 14px;
    }

    h1 {
      font-size: 1.14285714em;
      font-style: inherit;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: -.006em;
      margin-top: 24px;
    }

    h2 {
      font-size: 1em;
      font-style: inherit;
      font-weight: 600;
      line-height: 1.14285714;
      letter-spacing: -.003em;
      margin-top: 16px;
    }

    h3 {
      color: #5e6c84;
      font-size: .85714286em;
      font-weight: 600;
      line-height: 1.33333333;
      margin-top: 20px;
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <div id="app-root"></div>
</body>

</html>